@import "tailwindcss";

:root {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F4F1E1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer {
  cursor: pointer;
}

.image {
  width: 25%;
  height: auto;
  position: absolute;
  left: 0%;
  transform: translateY(2%);
  object-fit: contain;
}

.glow {
  text-shadow:
    0 0 2px #FFD700,
    0 0 1px #FFD700,
    0 0 0px #FFD700,
    0 0 1px #FFD700;
}



.line {
  position: absolute;
  top: 50%;
  border-bottom: 5px dashed #F4F1E1;
  width: 220px;
  transform: translateX(270%) rotate(90deg);
}

/* Circle before the line */
.line::before,
.line::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #F4F1E1;
  border-radius: 50%;
}

/* Position left circle */
.line::before {
  left: -80px;
  top: -30px;
}

/* Position right circle */
.line::after {
  right: -75px;
  top: -32px;
}